<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:200,300,400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Yantramanav:400,300,100' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" type="text/css" href="/css/main.css">
	{% include analytics.html %}
    </head>
  <body>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="papers.html">Papers</a></li>
	<li><a href="talks.html">Talks</a></li>
  <li><a href="CV.html" target="_blank">CV</a></li>
  <li><a href="https://github.com/marcoviero" target="_blank">Code</a></li>
  <li><a href="http://www.correlatednoise.com" target="_blank">Blog</a></li>
  <li style="float: right"><a href="mailto:marco.viero@gmail.com">marco.viero@gmail.com</a></li>
	<!--<li><a href="contact.html">Contact</a></li>

  <li style="float: right"><a href="https://www.linkedin.com/in/marco-viero/" target="_blank"><img src="images/linkedin_thumbnail.jpg" width=40px></a></li>

	<li style="float: right"><a href="https://scholar.google.com/citations?user=ivq_rJQAAAAJ" target="_blank"><img src="images/scholar.png" width=40px></a></li>

	<li style="float: right"><a href="https://twitter.com/emviero" target="_blank"><img src="images/twitter_thumbnail.jpeg" width=40px></a></li>

  -->

	</ul>
      </nav>
    <div class="container">

      {{ content }}

      </div><!-- /.container -->
<!--
    <footer>
      <ul>
	<li><a href="mailto:marco.viero@gmail.com">email</a></li>
	<li><a href="https://github.com/marcoviero">github.com/marcoviero</a></li>
	</ul>
      </footer>
-->

    </body>
  </html>
